:local(.styles) {
  height: 90vh;
  position: relative;

  .section {
    margin-top: 40px;
    margin-bottom: 40px;

    input {
      margin-top: 20px;
    }
  }

  .spa-ad {
    position: absolute;
    bottom: 20px;
  }

}

:local(.stylesBackgroundChange) {
  height: 90vh;
  position: relative;
  background-color: #23272A;

  .section {
    margin-top: 40px;
    margin-bottom: 40px;

    input {
      margin-top: 20px;
    }
  }

  .spa-ad {
    position: absolute;
    bottom: 20px;
  }

}

:local(.stylesChanges) {
  height: 90vh;
  position: relative;
  background-color: red;

  .section {
    margin-top: 40px;
    margin-bottom: 40px;

    input {
      margin-top: 20px;
    }
  }

  .spa-ad {
    position: absolute;
    bottom: 20px;
  }

}

:local(.ModalFirstStyles) {
  .modal-first {
    position: relative;

    input {
      position: relative;
      top: 8px;
    }
    .close {
      position: absolute;
      font-weight: bold;
      right:20px;
      top: 20px;
      cursor: pointer;
      width: 32px;
      height: 32px;
      opacity: 0.3;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
  }
}

:local(.ModalSecondStyles) {
  .modal-second{
    input {
      position: relative;
      top: 5px;
    }
  }
}

